@model IEnumerable<BooksManager.Models.BookQuery>

@{
    ViewData["Title"] = "Libros";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12  p-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Todos</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="dataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.author)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.publisher)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.category)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.author)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.publisher)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> 

                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> 
                                    <form class="d-inline" asp-action="Delete" data-action="Delete" data-id="@item.id">
                                        <button class="btn btn-danger" type="submit">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.author)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.publisher)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.category)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<partial name="_modalEdit" />

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTables");}
}
